[package]
name = "manufacture_engine"
version = "0.6.5"
authors = ["Maxis Maximov Jr."]
edition = "2024"

[lib]
crate-type = ["lib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"
